/***************
    NAVBAR
****************/

.navbar {
  background: linear-gradient(to right, #141e30, #243b55);
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar img {
  margin: 0 10px;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/***************
DEFAULT BUTTONS
****************/

.navbar button {
  background-color: transparent;
  color: rgb(255, 255, 240);
  border: 2px solid #141e30; /* Green */
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 8px 20px;
  margin: 0 4px;
  font-weight: 600;
  outline: none;
}

/***************
SLIDER BUTTON
****************/

.slider {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  font-weight: 600;
  text-decoration: none;
}

.slider input {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: rgb(177, 176, 176);
  height: 5px;
  width: 100px;
  border-radius: 3px solid black;
  outline: none;
}

/* slider circle*/
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 15px;
  background: ghostwhite;
  cursor: pointer;
  border-radius: 10px;
}

/***************
GITHUB BUTTON
****************/
.git-link {
  margin: 0 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}
